html {
	color: #fff;
	background-color: #eee;
	height: 100%;
	font-size: 14px;
}

body {
	font-family: "Helvetica Neue", Arial, Sans-Serif;
	position: fixed;
	z-index: -1;
	margin: 0;
	width: 100%;
	height: 100%;
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	text-shadow: 1px 3px 5px rgba(0,0,0,0.5);
}

a {
	color: #08c;
}

ul, ol {
	list-style: none;
	padding-left: 0;
}

code {
	font-size: 16px;
	font-family: Consolas, "DejaVu Sans Mono", "Lucida Console", Monaco, Andale Mono, "MS Gothic", monospace;
}

#container {
	/* width: 480px; */
	/*margin: 0px auto;*/
	padding: 50px 0;
}

#subtitle {
	text-align: center;
	font-size: 66px;
}

.about {
	display: none;
}

#social_icon .fa {
	color: #000;
	width: 32px;
	height: 32px;
	padding: 0 auto;
	text-align: center;
	margin: 0 2px;
}

#social_icon .fa:hover {
	color: #fff;
	background-color: #1fa67a;
	border-radius: 4px;
}

.avatar {
	width: 200px;
	height: 200px;
	-webkit-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
	overflow: hidden;
	border-radius: 200px;
	margin: 0 auto;
	opacity: 0.5;
}

.avatar:hover {
	opacity: 0.8;
}

.avatar img {
	height: 200px;
	width: 200px;
	overflow: hidden;
	border-radius: 200px;
}

#social_icon {
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
}

.site li {
	list-style: none;
}

.site .fa {
	color: #21b384;
	text-align: center;
	margin: 0 2px;
}

h2#subtitle {
	color: #fff;
	font: Monaco, "Helvetica Neue", sans-serif;
	text-shadow: 1px 5px 9px rgba(0,0,0,0.9);
}

#aboutme {
	background-color: rgba(0, 0, 0, 0.298039);
	position: absolute;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid transparent;
	z-index: 3;
	overflow: visible;
	margin: 0px auto;
	padding: 20px 50px;
}

#aboutme .fa {
	color: #fff;
	width: 16px;
	text-align: center;
	margin-right: 5px;
}

#aboutme ul {
	margin-top: 30px;
}

#aboutme ul li {
	line-height: 22px;
}
